<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dommy.tab">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".ui.ProjectsDetailActivity"></activity>
        <activity android:name=".ui.MyProfileActivity"></activity>
        <activity android:name=".ui.SearchResultsActivity"></activity>
        <activity android:name=".ui.SignUpActivity"></activity>
        <activity android:name=".ui.MyAssessmentsActivity"></activity>
        <activity android:name=".ui.AchievementsDetailActivity"></activity>
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>